<div style="display: flex;justify-content: center;">
    <p style="font-size: 25px; color: purple;"></p>
    <p>Classs binding</p> 
</div>

<div [class]="textcolor">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus 
    recusandae deleniti voluptatum cum nobis laboriosam.
    elit
</div>
<div [class]="fontTextSize">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus 
    recusandae deleniti voluptatum cum nobis laboriosam.
</div>

<div [ngClass]="myGroups">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus 
    recusandae deleniti voluptatum cum nobis laboriosam. elit
</div> 
 